<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Варианты выбора</title>
</head>
<body>
<h1>Моё предложение: {{username}}</h1>
<div>Эта планета близка к Земле;</div>
<div class="alert alert-warning" role="alert">На ней много необходимых ресурсов;</div>
<div class="alert alert-success" role="alert">На ней есть атмосфера;</div>
<div class="alert alert-danger" role="alert">На ней есть небольшое магнитное поле;</div>
<div class="alert alert-info" role="alert">Наконец она просто красива!</div>
</body>
</html>